.menu {
  list-style-type: none;
  width: 100px;
  /* outline: dotted 2px; */
  padding: 0;
}

.menu_title {
  width: 100%;
  /* height: 30px; */
  text-align: center;
  font-weight: bold;
  background-color: rgb(255, 157, 157);
  outline: solid 1px red;
}
a {
  text-decoration: none;
  color: black;
}
.menu_item {
  width: 100%;
  text-align: center;
  font-weight: bold;
  visibility: hidden;
  color: black;
  outline: solid 1px gray;
}
.menu_item_active {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: bold;
  color: black;
  outline: solid 1px gray;
}
.menu_item_active:hover {
  background-color: silver;
}
